*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark:#111111;
    --white:#ffffff;
}
body{
    background-color: var(--dark);
    color:var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color:var(--white);
    
}